.container{
    background-color: rgb(47, 43, 43);
    height: 250px;
    width: 400px;
    border-radius: 15px;
    margin: 100px auto ;
    border: 2px #3399ff solid;
    display: flex;
    align-items: center;
}

.img-profile{
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: #241f1f solid 3px;
    
}

.heading-title{
 display: inline;
}